<div class="revisiontable auto-grid-width">
    <div align="center" id="console-model" class="r1 c1">
        Wii
    </div>
    <div align="center" id="console-model" class="r1 c2">
        Wii Family Edition
    </div>
    <div align="center" id="console-model" class="r1 c3">
        Wii Mini
    </div>
    <div align="center" id="console-model" class="r1 c4">
        Wii U
    </div>
    <div id="console-img" class="r2 c1">
        <img src="../images/wii.png" alt="Wii Console">
    </div>
    <div id="console-img" class="r2 c2">
        <img src="../images/wii-fe.png" alt="Wii Family Edition Console">
    </div>
    <div id="console-img" class="r2 c3">
        <img src="../images/wii-mini.png" alt="Wii Mini Console">
    </div>
    <div id="console-img" class="r2 c4">
        <img src="../images/wii-u.png" alt="Wii U Console">
    </div>
</div>