<div class="revisiontable auto-grid-width">
    <div align="center" class="r1 c1 console-model">
        Wii
    </div>
    <div align="center" class="r1 c2 console-model">
        Wii Mini
    </div>
    <div align="center" class="r1 c3 console-model">
        Wii U
    </div>
    <div class="r2 c1 console-img auto-grid-height">
        <img src="../images/get-started/wii.png" alt="Wii Console">
    </div>
    <div class="r2 c2 console-img auto-grid-height">
        <img src="../images/get-started/wii-mini.png" alt="Wii Mini Console">
    </div>
    <div class="r2 c3 console-img auto-grid-height">
        <img src="../images/get-started/wii-u.png" alt="Wii U Console">
    </div>
</div>