---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

  .revisiontable {
    display: grid;
  }
  
  .auto-grid-width {
    grid-auto-columns: minmax(0, 1fr);
  }

  .auto-grid-height {
    grid-template-rows: 0fr;
  }

  .revisiontable div {
    border: 1px solid;
  }

  .console-img {
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
  .r1 { grid-row: 1; }
  .r2 { grid-row: 2; }
  .c1 { grid-column: 1; }
  .c2 { grid-column: 2; }
  .c3 { grid-column: 3; }
  .c4 { grid-column: 4; }
